<h1>Results</h1>

<div class="categories-wrapper">
	Choose a category to browse:

</div>

<div class="filter-wrapper">
	Filter results:
	<label>
		<input type="checkbox" ng-model="filter.free"/>
		Free
	</label>
	<label>
		<input type="checkbox" ng-model="filter.openSource"/>
		Open Source
	</label>
	<label>
		<input type="checkbox" ng-model="filter.paid"/>
		Paid
	</label>
	<label>
		<input type="checkbox" ng-model="filter.freemium"/>
		Freemium
	</label>
	<label>
		<input type="checkbox" ng-model="filter.mac"/>
		MAC
	</label>
	<label>
		<input type="checkbox" ng-model="filter.win"/>
		Windows
	</label>
	<label>
		<input type="checkbox" ng-model="filter.linux"/>
		Linux
	</label>
	<label>
		<input type="checkbox" ng-model="filter.web"/>
		Web
	</label>
</div>

<ul>
	<li ng-repeat="item in results.items">
		{{item.name}}
	</li>
</ul>