<!doctype html>
<html lang="en-US" ng-app="WDB">
<head>
	<meta charset="UTF-8">
	<title>Web Dev DataBase</title>

	<script type="text/javascript" src="js/common/config.js"></script>
	<script type="text/javascript" src="js/common/utils.js"></script>

	<script type="text/javascript" src="components/angular/angular.js"></script>
	<script type="text/javascript" src="components/angular-route/angular-route.js"></script>

	<!-- Application Bootstraping -->
	<script type="text/javascript" src="js/app/ng-app.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="js/services/SearchSrv.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="js/controllers/MainCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/AddNewCtrl.js"></script>


</head>
<body ng-controller="MainCtrl">

	<h1>Hi and welcome to Web Dev DataBase! :)</h1>

	<button ng-click="addStuff()">+ Add New Stuff</button>
	<button ng-click="showEverything()">Show Everything</button>

	<input type="text" ng-model="search.value" ng-change="onSearching()"/>

	<ng-view></ng-view>

</body>
</html>